---
---

@import "minima";


table, td, th {
    padding: 2px !important;
}

// align chromaticity diagrams for now
table td:nth-child(2), table td:nth-child(3), table td:nth-child(4), table tr:first-child td:nth-child(5)  {
  vertical-align: bottom;
}
